@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    width: 100vw;
    height: 134px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
}

.header .wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu {
    width: 452px;
    height: 50px;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}

.header_red {
    font-weight: 700;
    color: #E06733;
}

.header_link {
    transition: .3s;
}

.header_link:hover {
    color: #E06733;
    font-weight: 700;
}

.welcome {
    width: 100vw;
    height: 532px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.welcome .wrapper {
    width: 1282px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #717171;
}

.welcome_img {
    width: 448px;
    height: 407px;
}

.welcome_text {
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome_text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.welcome_green {
    color: #499A18;
}

.welcome_text p {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome_text button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;
}

.welcome_text button:hover {
    background-color: #E06733;
    color: #fff;
    cursor: pointer;
}